#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size:16px;
  font-weight: bold;
  text-align: center;
  font-family: 'Urbanist', sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}


.gradient-button {
  min-width: 80px;
  margin: 10px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  font-family: 'Urbanist', sans-serif;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;

}

.gradient-button:hover {
    background: 0 0;
    color: #ff4742;
}
